# Python Pandas - How to flatten a hierarchical index in columns

https://stackoverflow.com/questions/14507794/python-pandas-how-to-flatten-a-hierarchical-index-in-columns

In [1]:
import pandas as pd

In [13]:
df = pd.DataFrame.from_dict({
    ('USAF', ''): ['702730', '702730', '702730', '702730', '702730'],
    ('WBAN', ''): ['26451', '26451', '26451', '26451', '26451'],
    ('day', ''): [1, 2, 3, 4, 5],
    ('month', ''): [1, 1, 1, 1, 1],
    ('s_CD', 'sum'): [12.0, 13.0, 2.0, 12.0, 10.0],
    ('s_CL', 'sum'): [0.0, 0.0, 10.0, 0.0, 0.0],
    ('s_CNT', 'sum'): [13.0, 13.0, 13.0, 13.0, 13.0],
    ('s_PC', 'sum'): [1.0, 0.0, 1.0, 1.0, 3.0],
    ('tempf', 'amax'): [30.92, 32.0, 23.0, 10.04, 19.94],
    ('tempf', 'amin'): [24.98, 24.98, 6.98, 3.92, 10.94],
    ('year', ''): [1993, 1993, 1993, 1993, 1993]
})
df

     USAF   WBAN day month  s_CD  s_CL s_CNT s_PC  tempf         year
                             sum   sum   sum  sum   amax   amin
0  702730  26451   1     1  12.0   0.0  13.0  1.0  30.92  24.98  1993
1  702730  26451   2     1  13.0   0.0  13.0  0.0  32.00  24.98  1993
2  702730  26451   3     1   2.0  10.0  13.0  1.0  23.00   6.98  1993
3  702730  26451   4     1  12.0   0.0  13.0  1.0  10.04   3.92  1993
4  702730  26451   5     1  10.0   0.0  13.0  3.0  19.94  10.94  1993

In [14]:
df.columns.get_level_values(0)

Index(['USAF', 'WBAN', 'day', 'month', 's_CD', 's_CL', 's_CNT', 's_PC',
       'tempf', 'tempf', 'year'],
      dtype='object')

In [17]:
df.columns.values

array([('USAF', ''), ('WBAN', ''), ('day', ''), ('month', ''),
       ('s_CD', 'sum'), ('s_CL', 'sum'), ('s_CNT', 'sum'),
       ('s_PC', 'sum'), ('tempf', 'amax'), ('tempf', 'amin'),
       ('year', '')], dtype=object)

In [21]:
new_cols = ['_'.join(val for val in col if val) for col in df.columns.values]
new_cols

['USAF',
 'WBAN',
 'day',
 'month',
 's_CD_sum',
 's_CL_sum',
 's_CNT_sum',
 's_PC_sum',
 'tempf_amax',
 'tempf_amin',
 'year']

In [22]:
df.columns = new_cols

In [23]:
df

,USAF,WBAN,day,month,s_CD_sum,s_CL_sum,s_CNT_sum,s_PC_sum,tempf_amax,tempf_amin,year
0,702730,26451,1,1,12.0,0.0,13.0,1.0,30.92,24.98,1993
1,702730,26451,2,1,13.0,0.0,13.0,0.0,32.00,24.98,1993
2,702730,26451,3,1,2.0,10.0,13.0,1.0,23.00,6.98,1993
3,702730,26451,4,1,12.0,0.0,13.0,1.0,10.04,3.92,1993
4,702730,26451,5,1,10.0,0.0,13.0,3.0,19.94,10.94,1993