# Reshaping in Pandas

- http://nikgrozev.com/2015/07/01/reshaping-in-pandas-pivot-pivot-table-stack-and-unstack-explained-with-pictures/
- https://github.com/guipsamora/pandas_exercises

In [49]:
from collections import OrderedDict
from pandas import DataFrame
import pandas as pd
import numpy as np
from pprint import pprint

In [2]:
table = OrderedDict((
    ("Item", ['Item0', 'Item0', 'Item1', 'Item1']),
    ('CType',['Gold', 'Bronze', 'Gold', 'Silver']),
    ('USD',  ['1$', '2$', '3$', '4$']),
    ('EU',   ['1€', '2€', '3€', '4€'])
))
d = DataFrame(table)

In [4]:
d

    Item   CType USD  EU
0  Item0    Gold  1$  1€
1  Item0  Bronze  2$  2€
2  Item1    Gold  3$  3€
3  Item1  Silver  4$  4€

## Pivot

Pivot takes 3 arguements with the following names: `index`, `columns`, and `values`.

![pivoting_simple1](http://nikgrozev.com/images/blog/Reshaping%20in%20Pandas%20-%20Pivot%20Pivot-Table%20Stack%20and%20Unstack%20explained%20with%20Pictures/pivoting_simple1.png)

In [20]:
p = d.pivot(index='Item', columns='CType', values='USD')
print(p.columns)
print(p.index)
p

Index(['Bronze', 'Gold', 'Silver'], dtype='object', name='CType')
Index(['Item0', 'Item1'], dtype='object', name='Item')

CType Bronze Gold Silver
Item
Item0     2$   1$   None
Item1   None   3$     4$

In [21]:
# Original DataFrame: Access the USD cost of Item0 for Gold customers
print(d[(d.Item=='Item0') & (d.CType=='Gold')].USD.values)

# Pivoted DataFrame: Access the USD cost of Item0 for Gold customers
print(p[p.index=='Item0'].Gold.values)

['1$']
['1$']

## Pivoting By Multiple Column Values

When omit the `values` parameter.
Pandas will create a hierarchical column index (MultiIndex) for the new table.

In [26]:
p = d.pivot(index='Item', columns='CType')
p

         USD                 EU
CType Bronze Gold Silver Bronze Gold Silver
Item
Item0     2$   1$   None     2€   1€   None
Item1   None   3$     4$   None   3€     4€

## Common Mistake in Pivoting

![](http://nikgrozev.com/images/blog/Reshaping%20in%20Pandas%20-%20Pivot%20Pivot-Table%20Stack%20and%20Unstack%20explained%20with%20Pictures/pivoting_simple_error.png)

In [43]:
table = OrderedDict((
    ("Item", ['Item0', 'Item0', 'Item0', 'Item1']),
    ('CType',['Gold', 'Bronze', 'Gold', 'Silver']),
    ('USD',  ['1',  '2',  '3',  '4']),
    ('EU',   ['1€', '2€', '3€', '4€'])
))
d = DataFrame(table)
try:
    p = d.pivot(index='Item', columns='CType', values='USD')
except ValueError as e:
    template = "An exception of type {0} occurred. Arguments:\n{1!r}"
    message = template.format(type(e).__name__, e.args)
    print(message)

An exception of type ValueError occurred. Arguments:
('Index contains duplicate entries, cannot reshape',)

## Pivot Table

![](http://nikgrozev.com/images/blog/Reshaping%20in%20Pandas%20-%20Pivot%20Pivot-Table%20Stack%20and%20Unstack%20explained%20with%20Pictures/pivoting_table_simple1.png)

In [46]:
table = OrderedDict((
    ("Item", ['Item0', 'Item0', 'Item0', 'Item1']),
    ('CType',['Gold', 'Bronze', 'Gold', 'Silver']),
    ('USD',  [1, 2, 3, 4]),
    ('EU',   [1.1, 2.2, 3.3, 4.4])
))
d = DataFrame(table)
p = d.pivot_table(index='Item', columns='CType', values='USD', aggfunc=np.mean)
p

CType  Bronze  Gold  Silver
Item
Item0     2.0   2.0     NaN
Item1     NaN   NaN     4.0

## Stack/Unstack

In fact pivoting a table is a special case of stacking a DataFrame:
1. **Stacking**: means moving (also rotating or pivoting) the innermost column index to become the innermost row index.
2. **Unstacking**: means moving the innermost row index to become the innermost column index.

![](http://nikgrozev.com/images/blog/Reshaping%20in%20Pandas%20-%20Pivot%20Pivot-Table%20Stack%20and%20Unstack%20explained%20with%20Pictures/stack-unstack1.png)

In [58]:
# Row Multi-Index
row_idx_arr = list(zip(['r0', 'r0'], ['r-00', 'r-01']))
row_idx = pd.MultiIndex.from_tuples(row_idx_arr)

# Column Multi-Index
col_idx_arr = list(zip(['c0', 'c0', 'c1'], ['c-00', 'c-01', 'c-10']))
col_idx = pd.MultiIndex.from_tuples(col_idx_arr)

# Create the DataFrame
d = DataFrame(np.arange(6).reshape(2,3), index=row_idx, columns=col_idx)
d = d.applymap(lambda x: (x // 3, x % 3))

d

             c0              c1
           c-00    c-01    c-10
r0 r-00  (0, 0)  (0, 1)  (0, 2)
   r-01  (1, 0)  (1, 1)  (1, 2)

In [57]:
# Stack/Unstack
s = d.stack()
s

                  c0      c1
r0 r-00 c-00  (0, 0)     NaN
        c-01  (0, 1)     NaN
        c-10     NaN  (0, 2)
   r-01 c-00  (1, 0)     NaN
        c-01  (1, 1)     NaN
        c-10     NaN  (1, 2)

In [56]:
u = d.unstack()
u

        c0                              c1
      c-00            c-01            c-10
      r-00    r-01    r-00    r-01    r-00    r-01
r0  (0, 0)  (1, 0)  (0, 1)  (1, 1)  (0, 2)  (1, 2)